<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IdentifyCourses Test Suite" parallel="none" thread-count="1">

    <!-- Member 3: Web Dev Courses Search (Scenario 1) -->
    <test name="Member3 - Web Dev Courses" verbose="2" preserve-order="true">
        <parameter name="cucumber.filter.tags" value="@webdev"/>
        <classes>
            <class name="IdentifyCourses.runners.CucumberRunner"/>
        </classes>
    </test>

    <!-- Member 5 (Shoyab Khan): Enterprise Campus Form (Scenario 3) -->
    <test name="Member5 - Enterprise Campus Form" verbose="2" preserve-order="true">
        <parameter name="cucumber.filter.tags" value="@enterprise"/>
        <classes>
            <class name="IdentifyCourses.runners.CucumberRunner"/>
        </classes>
    </test>

</suite>